<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyhospital.dao.UnitMapper">
	<sql id="Base_Column_List">
		UnitId, UnitName, isdel
	</sql>

	<!--获取所有的药品单位名称-->
	<select id="getAllUnitName" resultType="Unit">
		select <include refid="Base_Column_List"/> from unit
	</select>
</mapper>